body{
	background:url(../images/background.jpg);
	background-size: 100%;
}

#maindiv{
	margin:0 auto;
	width: 70%;
	margin-top: 100px;
	height: 600px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border:5px solid black;
}

#masthead{
	font-size: 400%;
	color: white;
	
	text-decoration: underline;

}

#questions{
	padding-top: 50px;
}

footer{
	text-align: center;
}